* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root {
    --color-primary: #2E5CFF;
    ;
    --color-success: #00bf8c;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Product Sans Medium', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background-color: var(--color-white);
}

.container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}


img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-weight: 300;
    font-size: 1rem;
    border-color: var(--color-white);
    transition: var(--transition);
}

.btn:hover {
    border-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* =============== NAVBAR ============= */
.window__scroll {
    background-color: #2E5CFF;
    color: white;
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__container h1 {
    color: #2E5CFF;
    font-weight: 500;
    font-size: 2rem;
}

.nav__container ul {
    gap: 2rem;
}

.nav__container ul li {
    font-size: 1.2rem;

}

.nav__menu {
    display: flex;
}

.open-menu-btn {
    display: none;
}

.login {
    margin-right: 1rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* <!-- =========== END OF HEADER ========== --> */
.show__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.show__case {
    position: relative;
    top: 12rem;
    overflow: hidden;
    margin-bottom: 15rem;
}

.showcase__right-container img {
    object-fit: contain;
}

.showcase__left h1 {
    font-size: 4.1rem;
    font-weight: 500;
    line-height: 85px;
    color: #172E80;
}

.showcase__left p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 34px;
    color: #77777780;
}

.showcase__left .sign {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 21.3px;
    line-height: 26px;
}

.other__button {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}

.other__button .btn {
    display: flex;
    background-color: var(--color-white);
    gap: .5rem;
    color: var(--color-black);
    border-color: #3A3A3A;
    font-size: 1.2rem;
}

.other__button .btn img {
    width: 18px;
    height: 18px;
}

.showcase__right-container {

    margin-left: 10rem;
    background-color: #F4F6FF;
    border-radius: 2rem;
    position: relative;
}

.vector__frame {
    width: 215px;
    height: 80px;
    display: flex;
    font-weight: 300;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-white);
    color: #172E80;
    gap: 1rem;
}

.vector__frame img {
    width: 40px;
    height: 40px;
    background: #5BCDF01A;
}

.frame1 {
    position: absolute;
    top: 50%;
    left: -10rem;
}

.frame1 .progress__bar {
    width: 119px;
    height: 6px;
    border: 32px;
    background-color: #EAEAEA;
    position: relative;
}

.frame1 .progress__bar::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 6px;
    border: 32px;
    background-color: #5BCDF0;
}

.frame2 {
    position: absolute;
    top: 50%;
    right: -4rem;
    top: 25%;
}

.frame2 .progress__bar {
    width: 119px;
    height: 6px;
    border: 32px;
    background-color: #EAEAEA;
    position: relative;
}

.frame2 .progress__bar::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 6px;
    border: 32px;
    background-color: #FF61EF;
}

.frame3 {
    position: absolute;
    top: 50%;
    right: -2rem;
    top: 80%;
}

.frame3 .progress__bar {
    width: 119px;
    height: 6px;
    border: 32px;
    background-color: #EAEAEA;
    position: relative;
}

.frame3 .progress__bar::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 6px;
    border: 32px;
    background-color: #605EFB;
}

.elipse1 {
    background: #FEF7F1;


    border-radius: 50%;
    width: 40px;
    height: 40px;

    left: -4rem;
    position: relative;

}

.elipse1::before {
    position: absolute;
    content: '';
    background-color: #2E5CFF;
    ;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: 3rem;
    bottom: 10px;

}

/* <!-- ================= END OF SHOWCASE ==================== --> */

.vectors {
    margin: 5rem 0;
    background-color: #FBFBFB;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* <!-- ================= END OF VECTORS ==================== --> */
.number__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number__user p {
    width: 720px;
    left: rem;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;

    text-align: center;
    color: #172E80;
}

/* start offer section */
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__heading {
    width: 700px;
    margin-top: 10rem;
    text-align: center;
}

.offer .offer__heading .p1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #3A3A3A;

}

.offer .offer__heading .p2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: #172E80;
}

.offer .offer__heading .p3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #777777;
}

.offer__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.offer__info h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #172E80;
    margin-top: 0.5rem;
}

.offer__info p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #777777;
    margin-top: 1rem;
}

.offer__info h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2E5CFF;
    margin-top: 1.5rem;
}

.offer__info .img {
    margin: 2rem 2rem 0.5rem 2rem;
    width: 200px;

}

.offer__info1 .img {
    width: 150px;
    height: 100px;


}

.offer__info1 {
    border-radius: 2rem;
    background: #F4F6FF;
    padding: 1rem;

}

.offer__info2 {
    background: #FEF7F1;
    border-radius: 2rem;
    padding: 1rem;
}

.offer__info3 {
    background: #F4F6FF;
    border-radius: 2rem;
    padding: 1rem;

}

/* End of offer section */


/* Download Section */
.download {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10rem;
    margin-top: 10rem;
}

.download__left {
    margin-top: 5rem;
}

.download__right h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    text-align: justify;
    color: #172E80;
    margin-bottom: 2rem;
}

.download__right h2 {
    font-weight: 500;
    font-size: 28px;
    text-align: justify;
    color: #172E80;
}

.download__right p {
    font-weight: 300;
    font-size: 20px;
    margin: 1rem 0 2rem 1rem;
    padding: 0rem 2rem 2rem 3.2rem;
    border-left: 3px solid #2E5CFF;
    opacity: 0.4;

    text-align: justify;
    color: #777777;
}

.download__right .download__step3 p {
    border-left: none;
}

.download__right span {
    margin-right: 2rem;
    color: #2E5CFF
}

/* End od download section */


.faqs {
    display: grid;
    grid-template-columns:60% 40%;
    margin-top: 5rem;
    height: 50%;
  
}
.faq p{
    font-weight: 400;
font-size: 16px;
}

.faqs__left {
    background: #2E5CFF;
    padding: 4rem;
    color: var(--color-white);
}

.faq {
    border-radius: 5px;
    border: 1px solid white;    
}
.faqs .faqs__items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq .flex {
    display: flex;
    gap: 14rem;
    padding:1rem;
}

.faqs h1 {
    font-weight: 500;
    font-size: 67px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.faq .answer {
    display: none;
    background-color: white;
    color: var(--color-primary);
    padding:0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2rem;
}

.faq__right{
    display: flex;
    align-items: center;
    justify-content: center;
}










@media screen and (max-width:1024px) {}

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    .nav__container h1 {
        font-size: 2rem;
    }

    .nav__menu {
        margin-top: 40rem;
        flex-direction: column;
        display: none;
    }

    .nav__buttons .login,
    .signup {
        display: none;
    }

    .open-menu-btn {
        display: block;
        color: #172E80;
        font-size: 2rem;
        border: none;
        background-color: transparent;


    }

    .show__case {
        top: 3rem;
    }
}